*{
    margin: 0px;
    padding: 0px;
    font-family: "Anton", sans-serif;
   

    
}
:root{
--grey :              #5B5D5D
--red    :          #F04156
--purpel  :           #470938
--backgroundcolor  :  #D3D3D3
}
body{
    background-color:#D3D3D3;
}
a{ 
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.logo{
    font-size: 30px;
    color: #F04156;
    display: flex;
    margin-left: -20px;
}
.list{
    display: flex;
}
.list .item{
    margin-left: 15px;
    margin-right: 15px;
}
.list .item .link{
color: #470938 ;
font-size: 17px;
letter-spacing: 0.5px;
}
.list .item .link:hover{
    color: #F04156;
}
.main{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    
}
.right{
    padding-top: 10px;
}
.m{
    font-size: 40px;
    margin-top:10px;
}
h1{
    color: #470938;
}
span{
    color: #F04156;
}
.info{
    margin-top: 30px;
    color: #5B5D5D;
}
.img{
    margin-bottom: px;
    width: 400px;
}
.img img{
    
    margin-top: 1px;
    width: 500px;
height: 400px;
 width: 100%;
}
.btn{
    margin: 30px;
    padding: 20px;
    
}
.insta{
    color: #470938;
   background-color: aliceblue;
   margin-left: 10px;
}
.face{
    color: #D3D3D3;
    background-color: #470938;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 16px;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: 0.3s;
}
.face:hover{
    color: #470938;
    background-color: aliceblue;
}
.insta:hover{
    color: aliceblue;
    background-color: #470938;
}
.hello:hover{
    transform: translateY(-3px);
  color: #F04156;
  background-color: #5B5D5D;
}




 .holidays{ 
    font-weight: 300;
    font-size: 35px;
    color: #F04156;
    margin-left: 20px;
   
}
.cards-container{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 60px;
margin-top: 40px;

}
.card-about-us{
background-color: #470938;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
   
}
.card-about-us:hover{
    transform: scale(1.07);
}
.card-about-us p{
    padding-left:5px ;
    padding-right:5px ;
}
i{
    color: #F04156;
    font-size: 20px;
}
.title{
    color: #5B5D5D;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 25px;
}
.description{
    color: #D3D3D3;
    font-size: 15px;
}
.card-about-us .icon{
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 10px;
  background-color: #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-container{
    display: flex;
    justify-content: space-around;
}
.service{
    width: 250px;
    background-color: #470938;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s;
}
.service:hover{
    transform: translateY(-10px);
}
.po{
    width: 50px;
    margin-bottom: 20px;
    height: 50px;
    margin: auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: #D3D3D3;
}
.hi{
    font-weight: 300;
    font-size: 35px;
    color: #F04156;
    margin-left: 20px; 
    margin-top: 40px;
margin-bottom: 40px;
}
.b{
    font-weight: 300;
    font-size: 35px;
    color: #F04156;
    margin-left: 10px;
    margin-top: 40px;

}
img{
    margin-top: 50px;
    margin-right: 50px;
 width: 200px;
 height: 200px;
 border-radius: 100px;
}
.left{
    margin-top: 110px;
}
.lip{
    margin-top: 30px;
    color: #470938;
    background-color: aliceblue;
}
.lip:hover{
    background-color: #470938;
    color: aliceblue;
}
h4{
    color: #470938;
}
span{
    color: #F04156;
}





.pricing-container{
    background-color: #D3D3D3;
    margin: 0;
    padding: 10px 30px;
}
.water{
    font-weight: 300;
    font-size: 35px;
    color: #F04156;
    margin-left: 10px;
    margin-top: 40px;
   
}
.pricing-container h2{
    width: fit-content;
    margin: auto;
}
.cards-container{
    display: flex;
    flex-direction: row;
}
.cards-container .pricing-card{
width: 250px;
background-color: white;
border-radius: 20px;
padding: 15px;
cursor: pointer;
}
.cards-container .pricing-card:hover{
    background-color:  aliceblue;
}
.description1{
    color: #470938;
    font-size: 17px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 15px;
}
.futures{
    color: #5B5D5D;
}
.btn1{
    background-color: #470938;
    color: #D3D3D3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
}
.btn1:hover{
    background-color: #D3D3D3;
    color: #470938;
}
.cards-container .pricing-card .price{
    font-size: 22px;
    color: darkcyan;
}
.cards-container .pricing-card .infinity{
    font-size: 16px;
}
.cards-container .pricing-card .futures{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
}
.cards-container .pricing-card .futures li{
margin-bottom: 10px;
}

.color{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.final{
    margin-top: 50px;
    text-align: center;
    background-color: #470938;
    justify-content: space-between;
    height: 160px;
 
}
.op{
    color: #5B5D5D;
    font-size: 15px;

}
h5{
    color: #D3D3D3;
}
.letter{
    display: flex;
    text-align: center;
    justify-content: center;
   
}
.h55{
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 2px;
}
.lk{
    display: flex;
}
p{

    margin-top: 20px;
    margin-right: 10px;
  }
.iput{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    background-color: #D3D3D3;
    border-radius: 30px;
    margin-bottom: 30px;
}
.lei{
    margin-bottom: 30px;
}
.c{
    color: #470938;
   background-color: #D3D3D3;
   border-radius: 30px;
   width: 140px;
   height: 40px;
    border: none;
    outline: none;
    margin-left: 30px;
    justify-content: center;

}

.none{
    display: flex;
    margin: 32px;
    padding: 0;
    outline: none;
    border: none;
    color: #470938;
    background-color: transparent;
    cursor: pointer;
justify-content: center;
align-items: center;
}



@media screen and (max-width:760px){
.list{
    display: none;
 }

.main{
    display: block;
}

.left{
    width: 100%;
}

.right{
    width: 100%;
}

.img{
    width: 400px;
    height: 200px;
    margin-bottom: 200px;
    margin-top: -70px;
    margin-left: 120px;
}
.cards-container{
display: contents;
}
.card-about-us{
    margin-left: 200px;
    margin-bottom: 50px;
    
}
.services-container{
    display: contents;
}
.service{
    margin-left: 200px;
    margin-bottom: 50px;
}
.contact-container{
    display: block;
}
.no{
    margin-bottom: -100px;
    margin-top: -4px;
    margin-left: 150px;
}
.pricing-card{
    margin-left: 200px;
    margin-top: 40px;
}
}

